@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
}

:root {
    --color-background: #E9E9E9;
    --color-white: #FFFFFF;
    --color-text-gray: #DDE0EC;
    --color-red: #e74c3c;
    /*  color  */
    --color-text-dark-gray: #696969;
    --color-blue: #2191FC;
    --color-black: #000000;
    --color-text: rgba(0, 0, 0, 0.59);
    --color-green: #2D6600;
}

.header,
footer {
    height: auto;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100px;
    align-items: center;
    background-color: var(--color-white);
}

.header {
    margin: 2% auto auto;
    justify-content: flex-end;
    border-radius: 10px 10px 0px 0px;
}

.header img {
    border-radius: 50%;
    padding: 2%;
    height: 100%;
    width: auto;
}

.header button {
    align-self: flex-end;
    border-radius: 64.5px;
    padding: 0;
    margin: auto;
}

.header button:hover {
    background-color: var(--color-white);
    color: var(--color-blue);
}

ul {
    list-style-type: none;
}

.header ul li {
    /* text-align: right; */
    display: flex;
    justify-content: flex-end!important;
    align-items: center!important;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    width: 80%;
    background-color: var(--color-white);
    margin: auto;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 20%;
    background-color: var(--color-text-gray);
}

.menu ul li a {
    text-decoration: none;
}

.menu ul li a,
a:visited,
a:hover {
    color: inherit;
}

.menu ul li a:active {
    color: var(--color-blue);
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: auto;
    padding: 5%;
    background: var(--color-blue);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
    color: var(--color-white);
    margin: none;
    border: 0;
    border-radius: 5px;
}

.menu ul li,
i {
    padding: 5%;
    color: var(--color-text-dark-gray);
}

.all-posts {
    /* display: none; */
    width: 90%;
}

.all-posts .post {
    width: 30%;
    height: 100%;
    padding: 1px;
    border-right: 2px solid .696969;
    /* overflow: auto; */
}


/* all Posts section */

.all-posts .search-bar {
    width: 60%;
    height: 5%;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 64.5px;
    padding: 2%;
    border: 1px;
    /* margin-right: 200px; */
}

input:focus {
    outline: none;
}

.all-posts .ancient {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-self: flex-start; */
    /* flex-wrap: wrap; */
    width: 30%;
}

.all-posts .blog-ancient {
    display: flex;
    flex-direction: column;
    /* float: left; */
    align-self: flex-start;
    background: var(--color-white);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin: 1%;
}

.all-posts .blog-ancient .right {
    width: 100%;
    height: 100%;
    padding: 2%;
    display: flex;
    flex-direction: row;
}

.all-posts .blog-ancient .right .blog-discription {
    width: 90%;
    font-size: 14px;
}

.all-posts .blog-ancient .btns {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
}

.all-posts .blog-ancient .btns input[type="button"] {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    width: 90px;
    height: 20px;
    background: var(--color-white);
    border: 0;
    margin: 1%;
    color: var(--color-blue);
    font-weight: bold;
    font-size: 12px;
    /* line-height: 25px; */
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 64.5px;
}

.all-posts .blog-ancient .btns input[type="button"]:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.all-posts .blog-ancient .btns .delete {
    border: 1px var(--color-red) solid !important;
}

.all-posts .blog-ancient .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    float: left;
    width: 100%;
}


/* end of All Posts section  */

.all-posts .gaphs {
    width: 50%;
    height: 100%;
}


/* add new Post button == section*/

.addNewPost {
    display: flex;
    flex-direction: row;
    /* display: none; */
}

.addNewPost .form {
    /* border: 1px solid black; */
    width: 80%;
    margin: 5%;
    display: flex;
    flex-direction: row;
    margin-top: 0;
    padding: 5%;
    /* align-items: left; */
    /* flex-wrap: wrap; */
}

.addNewPost .form input[type="text"],
input[type="password"],
input[type="email"],
select {
    width: 400px;
    height: 40px;
    background: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
}

.addNewPost .form textarea {
    width: 100% !important;
}

.addNewPost .form p {
    margin-top: 15px;
}

.addNewPost .form textarea {
    width: 534px;
    height: 100px;
    background: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
}

.addNewPost .form input[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    width: 150px;
    height: 50px;
    background: var(--color-blue);
    border: 0;
    color: var(--color-white);
    font-weight: bold;
    font-size: 20px;
    line-height: 38px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
}

.addNewPost .form .btn {
    /* border: 1px solid black; */
    width: 80%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding: 5%;
    /* align-items: left; */
    /* flex-wrap: wrap; */
}

.addNewPost .form input[type="file"] {
    margin: 5%;
}


/* Contacts messages section*/

.messages {
    display: flex;
    /* display: none; */
    width: 90%;
}

.messages .message-container {
    display: flex;
    flex-direction: row;
    margin: 2%;
    width: 90%;
    border-radius: 10px;
    background-color: var(--color-background);
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
}

.messages .user-info {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 2%;
}

.messages label {
    padding: 2%;
}

.messages .user-message {
    width: 60%;
    margin: 2%;
}

.messages .btns {
    margin: 1%;
    display: flex;
    align-items: flex-end;
    justify-content: baseline;
}

.messages .btns input[type="button"] {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    width: 100px;
    height: 40px;
    background: var(--color-white);
    border: 1px var(--color-red) solid;
    color: var(--color-blue);
    font-weight: bold;
    font-size: 20px;
    line-height: 38px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 64.5px;
}


/* footer */

footer {
    margin: auto;
    justify-content: center;
    border-radius: 0px 0px 10px 10px;
}

footer p:hover {
    color: var(--color-blue);
}